.App {
  text-align: center;
}

/*********************************/
/***************NavBar******************/
/*********************************/
.navBar {
}

.navBar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* position: fixed; */
}

.navBar ul li {
  padding: 0 30px;
  margin: 10px 0;
}

/*********************************/
/***************SearchBar******************/
/*********************************/
.searchBar {
  margin: 30px 0;
}
.searchBar input {
  width: 40%;
  height: 30px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  padding: 0 0 0 20px;
}

.searchBar button {
  height: 33px;
  padding: 0 20px;
  margin: 0 0 0 20px;
  border: none;
  border-radius: 10px;
}
