* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #dddddd;
}

.homePage {
}

.homeProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  width: 80%;
  height: 60vh;
  overflow: auto;
  margin: 0 auto;
}

.productContainer {
  width: 200px;
  height: 275px;
  margin: 20px 5px;
  background-color: white;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.productContainer:hover {
  border: 1px solid #aaaaaa;
}

.link {
  text-decoration: none;
  color: black;
}

.ProductOverview {
  line-height: 2rem;
  display: flex;
  flex-direction: column;

  width: 200px;
  height: 300px;

  justify-content: space-evenly;
  /* align-items: center; */
}

.ProductOverview div img {
  max-width: 100px;
  max-height: 140px;
  margin: 0 auto;
}

.ProductOverview div img {
  max-width: 100px;
  max-height: 140px;
  margin: 0 auto;
}

/* .ProductImg {
  margin-bottom: 20px;
  width: 50%;
  height: 50%;
  background-color: black;
} */

.ProductOverview div {
  padding: 0;
  width: 100%;
  display: flex;
}

.ProductOverview div h3 {
  margin: 0 auto;
}

.ProductOverview div p {
  padding: 0 10px;
  margin: 0 auto;
}

.ProductName {
  max-width: 90%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
